* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: red;
}

.day-1-css {
  color: pink;
  /* text-align: center; */
  margin: 100px 30px;

  border: 1px solid red;

  padding: 16px;
}

/* 1 - UNIVERSAL SELECTOR */
/* 2 - CLASS SELECTOR */
/* 3 - ID SELECTOR */
